body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}
h1 {
  text-align: center;
}
.container {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loader-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-text {
  font-size: 1.2em;
  margin-top: 10px;
}
.file-input-container,
.script-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.choose-file-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.choose-file-button:hover {
  background-color: #0056b3;
}
.table-wrapper {
  overflow-x: auto;
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #007bff;
  color: white;
}
tr:hover {
  background-color: #f1f1f1;
}
.play-button,
.delete-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.delete-button {
  background-color: red;
}
.play-button:hover {
  background-color: darkgreen;
}
.delete-button:hover {
  background-color: darkred;
}
#output {
  margin-top: 20px;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}
